<h1>Users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Zip Code</th>
    <th>Comment</th>
    <th>image</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first %></td>
    <td><%= user.email %></td>
    <td><%= user.zip_code %></td>
    <td><%= user.comment %></td>
    <td><%= user.image %></td>
  </tr>
<% end %>
</table>