<div class="wrapper">
	<div id="description">
    <p><a href="http://www.nationwidevision.com">Nationwide Vision</a> is proud to sponsor <a href="http://98kupd.com/ufest-2012">KUPD’s UFest 2012!</a> As a testament to our excitement, we’re giving away a free <a href="http://www.nationwidevision.com/lasik/">LASIK</a> procedure ($2,000 value).</p>
    <p>Enter to win by simply telling us in 50 words or less why you should receive this LASIK procedure over all your fellow compatriots.The 2nd place contestant will win a $200 gift card redeemable at any of our retail locations. Hello new pair of glasses!</p>
    <p>Our 3rd place winner won’t feel left out – they win a NVC gift card as well ($75 value). Get all the information you need by <a href="http://nationwidevision.com/rules.pdf">clicking here</a></p> 
	<div id="form">
		<%= simple_form_for @user, :remote => true do |f| %>
		  <%= f.input :first, :placeholder => "First Name"%>
		  <%= f.input :last, :placeholder => "Last Name" %>
		  <%= f.input :email, :placeholder => "Email Address" %>
		  <%= f.input :zip_code, :placeholder => "Your Zip Code" %>
		  <%= f.input :comment, :placeholder => "Comment" %>
		  <%= f.button :submit, 'SEND!', :class => "button positive" %>
		<% end %>     
	</div>
</div>
