<div class="wrapper">
	<div id="description">
		<p>Are you tired of dealing with blurred vision? Enter to win a free <a href="http://www.nationwidevision.com/lasik/" target="_blank">LASIK surgery</a> ($2,000 value) by simply telling <a href="http://www.nationwidevision.com/" target="_blank">us</a> in 50 words or less why you should win a LASIK surgery over all your fellow compatriots. For an extra bonus point, feel free to submit your best cat photo with your entry. That’s right, we want a photo of your fluffiest, furriest little cat friend. Who knows? Your photo may just make it on our Facebook page….</p>
	</div>
	<div id="form">
		<%= simple_form_for @user do |f| %>
		  <%= f.input :last %>
		  <%= f.input :first %>
		  <%= f.input :email %>
		  <%= f.input :comment %>
		<% end %>     
			<input type="hidden" name="referer" value="fb-tab"/>
			<input type="text" value="First Name" title="First Name" name="FirstName" id="firstname" class="input" onfocus="value=''"/><br />
			<input type="text" value="Last Name" title="Last Name" name="LastName" id="lastname"  class="input" onfocus="value=''"/><br />
			<input type="text" value="Your Email" title="Email" name="Email" id="email" class="input" onfocus="value=''"/><br />
			<textarea type="essay" value="words" name="Lets hear it" id="words" row="15" col="10"></textarea>
			<label for="submit-button">Upload Your Picture here</label>
			<input type="submit" value="picture" id="submit-button">
			<input type="image" src="/Users/Mike/Desktop/images/button.png" alt="submit" name="submit"  id="button" align="center"/>
	</div>
</div>
